.site-header {
    position: relative;
    background: #111;
    color: #fff;
    float: left !important;
    min-height: 100%;
    width: 11%;
    padding: 2% 0;
}

.main-nav.desktop ul {
    display: flex;
    gap: 20px;
    list-style: none;
    flex-direction: column;
}


article.single-post{
    margin-left: 13%;
    margin-right: 2%;
    
}

article.page ul,
article.single-post ul,
article.post ul {
    margin: 1rem 0;         
    padding-left: 2rem;     
    list-style: disc;       
}


article.page,
article.single-post,
article.post {
    display: table;
    background-color: white;
    width: 83%;
    margin-left: auto;
    margin-top: 3%;
    
}

article.page{
    margin-right: 3%;
}

article.post{
    margin-left: 0;
} 




article.single-post h1,
article.post h2,
article.page h1 {
    padding-left: 0.7%;
}


/* ===============================
   Responsive
=============================== */
@media (max-width: 1024px) {
.site-header{
    float: none!important;
    width:100%;
    min-height:auto;
}
.main-sidebar-wrapper{
    width: 100%;
}
.content-area {
    min-height: auto;
}

}

@media (max-width: 767px) {
.site-header{
    float: none;
    width:100%;
    min-height:auto;
}
.main-sidebar-wrapper{
    width: 100%;
}
.content-area {
    min-height: auto;
}

}



