body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #f7f7f7;
    color: #333;
    text-align: center;
}

.maintenance-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.maintenance-container p {
    font-size: 20px;
}



.maintenance-widgets-area {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.maintenance-widget {
    max-width: 300px;
    text-align: center;
}

.wp-customizer .rd3-maintenance-widgets-link a {
    color: #007cba;
    text-decoration: underline;
    font-weight: bold;
}